<div id="index-container">
   
    <div id="app-header">
     <div id="title-image">
        <img src="/images/icons8-anonymous-mask-64.png"/>    
     </div>
     <div id="app-title">
        Anonger chat
     </div>
    </div>
    <div class="sub-title">anonymous chat with anyone</div>
    <div class="block username-block">
        <b>Name</b>
        <input type="text" placeholder="Enter your name" onclick="this.select()" value="{{{data.randomUserName}}}" id="userName"/> OR use ramdon Anonger name 
    </div>
     <div class="block room-block">
        <b>Room</b>
        <input type="text" placeholder="Enter room name" onclick="this.select()"  value="{{{data.randomRoomName}}}"id="roomId"/> OR use random room name
    </div>
    <div class="block" id="enter-room">Start Now</siv>
</div>