 <div id="message-box">
    <ul id="messages"></ul>
 </div>
<div id="message-editor">
    <form action="">
        <input type="hidden" id="m" autocomplete="false"/>
        <div id="editor"></div>
        <button id="send-btn">Send</button>
    </form>
</div>